/* FUN FACTS */
.FF {
    margin: 100px auto;
    background: white;
    border: 3px solid black;
    padding: 1em;
    width: fit-content;
    height: fit-content;
}
.h2-FF {
    font-size: 48px;
    padding: 5px;
    text-align: center;
}
.h3-FF {
    font-size: 36px;
    padding: 5px;
    text-align: center;
}
.h4-FF {
    font-size: 32px;
    padding: 5px;
    text-align: center;
}
.p-FF {
   font-size: 24px;
   padding: 5px;
}
.movie-section {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 100px;
    padding: 20px 40px;
}
.POSTER{
    width: 400px;
    border-radius: 5px;
    border: 3px solid black;
    flex-shrink: 0;
}
.movie-text {
    flex: 1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}